/* All styles for your Card Components live here */

.card-container {
    margin: 0 auto;
    
    width: 487px;
    font-family: helvetica;
    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
  }

  .card-content {
    width: 480px;
    margin-left: 20px;
  }

  .bannerLink {
    color: gray;
  }