/* All styles for your Card Components live here */

.card-container {
    margin: 0 auto;
    padding-left: 130px;
    width: 580px;
    font-family: helvetica;
  }

  .card-content {
    width: 480px;
  }

  .bannerLink {
    color: gray;
  }