/* All styles for your Card Components live here */

.card-container {
    width: 580px;
    margin: 10px 0 0 240px;
    padding-left: 190px;
    font-family: helvetica;
  }

  .card-content {
    width: 480px;
  }

  .bannerLink {
    color: gray;
  }