/* All styles for your header Components live here */

.header-container {
    font-size: 14px;
    display: flex;
    margin: 0 auto;
    width: 580px;
    height: 106px;
    border: solid 1px lightgray;
    font-family: helvetica;
  }

  .header-container .image-thumbnail {
    padding: 20px 12px;
  }