/* NUMBERS COMPONENT */

.keyPad {
    width: 300px;
    height: 418px;
    border: 1px solid lightgrey;
}

.clearButton {
    width: 300px;
    height: 84px;
}

.numberButton {
    width: 100px;
    height: 83px;
}

.zeroButton {
    width: 300px;
    height: 84px;
}

/* OPERATORS COMPONENT */

.operators {
    display: flex;
    flex-direction: column;
}

.operatorsButton {
    width: 100px;
    height: 84px;
    background-color: red;
    color: white;
    font-size: 30px;
}