.footer-container {
    display: flex;
    width: 580px;
    margin: 0 auto;
    margin-top: 10px;
}

.comment {
    margin-left: 100px;
}

.retweet {
    display: flex;
    margin-left: 100px;
}

.favorite {
    display: flex;
    margin-left: 100px;
}

.message {
    margin-left: 100px;
}
